<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пономарева София. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    <main>
        {% block main %}{% endblock %}
        <p>
            <a href="http://127.0.0.1:5000/menu">Меню</a>
        </p>
    </main>
    <footer>
        &copy; Пономарева София, ФБИ-23, 3 курс, 2024
    </footer>
</body>
</html>