{% extends "base.html" %}

{% block lab %}
Лабораторная работа 8
{% endblock %}

{% block script %}

{% endblock %}

{% block main %}
    <div class="container">
        <h1>База знаний</h1>
    </div>
    <p class="username">Пользователь: <span style="color: black">{{ login if login else 'anonymous' }}</span></p>
    <div class="button-container">
        <ol class="button-list">
            <li class="button-item">
                <a href="/lab8/login" class="button-link">Вход</a>
            </li>
            {% if login %}
            <li class="button-item">
                <a href="/lab8/logout" class="button-link">Выход</a>
            </li>
            {% endif %} 
            <li class="button-item">
                <a href="/lab8/register" class="button-link">Регистрация</a>
            </li>
            </li>
            <li class="button-item">
                <a href="/lab8/articles" class="button-link">Список статей</a>
            </li>
            <li class="button-item">
                 <a href="/lab8/create" class="button-link">Создать статью</a>
            </li>
        </ol> 
    </div>

{% endblock %}
